#animated-object {
    width: 300px;
    height: 300px;
    background-image: url("https://picsum.photos/id/1/200/300");
    background-size: cover;
    transform: rotateX(45deg) rotateY(45deg) rotateZ(45deg);
  }

  body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }